<div class="page-container">

  <h2>Forgot Password</h2>

  <form>
    <div class="mobile-section">
      <!-- Mobile -->
      <label>Mobile Number:</label>

      <!-- Mobile + OTP Single Line -->
      <div class="mobile-otp-row">
        <input type="text" [(ngModel)]="mobile" [disabled]="otpSent || otpVerified" placeholder="Enter mobile number"
          name="mobile" maxlength="10" pattern="[0-9]{10}" />

        <!-- ✅ Hide after verify -->
        <button *ngIf="!otpVerified" type="button" class="otp-btn" (click)="sendOtp()" [disabled]="!mobile || otpSent">
          Send OTP
        </button>

        <input *ngIf="otpSent" type="text" [(ngModel)]="otp" name="otp" placeholder="OTP" maxlength="6"
          pattern="[0-9]{6}" [disabled]="otpVerified" />

        <button *ngIf="otpSent" type="button" class="verify-btn" (click)="verifyOtp()" [disabled]="!otp || otpVerified">
          Verify
        </button>

        <button *ngIf="otpSent" type="button" class="resend-btn" (click)="resendOtp()" [disabled]="otpTimer > 0">
          Resend
        </button>
      </div>
    </div>

    <!-- Timer -->
    <div *ngIf="otpSent && otpTimer > 0" class="otp-timer">
      OTP expires in {{ otpTimer }} sec
    </div>

    <!-- Expired -->
    <div *ngIf="otpSent && otpExpired" class="otp-expired">
      OTP expired. Please resend OTP.
    </div>

    <!-- Password -->
    <div *ngIf="otpVerified">

      <div class="password-row">
        <!-- New Password -->
        <div class="password-field">
          <label>New Password</label>
          <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword"
            #passwordRef="ngModel" required minlength="8" maxlength="12" [ngModelOptions]="{ updateOn: 'blur' }"
            placeholder="Enter new password" />

          <span class="eye" (click)="togglePassword()">
            {{ showPassword ? '🙈' : '👁️' }}
          </span>
        </div>

        <!-- Confirm Password -->
        <div class="password-field">
          <label>Confirm Password</label>
          <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword"
            maxlength="12" placeholder="Confirm password" required />
          <span class="eye" (click)="togglePassword()">
            {{ showPassword ? '🙈' : '👁️' }}
          </span>
        </div>
      </div>

      <!-- Errors -->
      <div *ngIf="confirmPassword && newPassword && newPassword !== confirmPassword">
        <small>Passwords do not match</small>
      </div>

      <div *ngIf="passwordRef.touched && passwordRef.invalid">
        <small *ngIf="passwordRef.errors?.['required']">
          Password is required
        </small>

        <small *ngIf="newPassword && !newPassword.match('^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&]).{8,}$')">
          Must include uppercase, lowercase, number & special character
        </small>

        <small *ngIf="passwordRef.errors?.['minlength']">
          Minimum 8 and Maximum 12 characters required
        </small>
      </div>

      <button type="button" (click)="resetPassword()"
        [disabled]="passwordRef.invalid || !confirmPassword || newPassword !== confirmPassword">
        Reset Password
      </button>
    </div>

    <div class="login-link">
      <span>Remember password?</span>
      <a routerLink="/login">Login</a>
    </div>

  </form>

</div>