/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

app-root {
  display: block;
  height: 100%;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
}